<ActionBar title="My App"> </ActionBar>

<GridLayout>
  <ListView [list]="list">
    <ng-template let-item="item">
      <app-ns-details
        [item]="item"
        (getInfo)="getInfoDetail($event)"
      ></app-ns-details>
    </ng-template>
  </ListView>

  <ListView>
    <Label [text]="singleList?.post_content"></Label>
    <Label [text]="singleList?.post_date"></Label>
    <!-- <Image src="`singleList?.post_image`" stretch="none"></Image>
      <HtmlView html="`singleList?.post_thumbnail`" /> -->
  </ListView>
</GridLayout>
